/* =======================================
= Front End Global CSS
======================================= */

@import url("https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Spartan", sans-serif;
  background-color: #e7e7e7;
  min-height: 100vh;
}

.img-center{
  display: block;
  margin: 0 auto;
}
.cart-btn{
  color: #fff;
}
/* Upper Nav bar */

.upper-navbar{
  padding : 20px 0px;
  background-color: #e7e7e7;
}

.login-page h1{
  color: #333333;
  cursor: pointer;
}

.login-page form{
  max-width: 350px;
  margin : 25px auto;
}

.login-page [data-class="login"].selected{
  color: green;
}
.login-page [data-class="signup"].selected{
  color: #007bff;
}

.login-page .signup{
  display : none;
}

.user-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}


/* Profile Page CSS */
.item-box{
  padding: 20px;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  text-align: center;
  position: relative;
  min-height: 500px;
  box-shadow: 0px 10px 20px #e8e8e8;
}

.price-tag{
  position: absolute;
  right: 0;
  color: #fff;
  font-weight: 700;
  padding: 5px 15px;
  background: #2da2ae;
}

.item-name{
  color: #2da2ae;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px 20px 0px;
  font-weight: 700;
}

.item-date p{
  margin: 0;
  font-weight: 500;
}

.item-desc{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
